
//Здесь буду прописывать базовый стили, а также переменные и миксины
$yellow:#FEDB3F;
$white:#FFFFFF;
$containerWidth: 940px;
$fontSize: 18px;

html,
body{
    height: 100%;
}
body {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: $white;
    position: relative;
}
.wrapper{
    position: relative;
    width: 100%;
    min-width: $containerWidth + 20px;
    min-height: 100%;
    overflow: hidden;
}
footer{
    position: relative;
    width: 100%;
}
img{
    display: block;
    max-width: 100%;
}
.container {
    width: $containerWidth;
    margin: 0 auto;
}


