
.benefits{
    display: flex;
    &__item{
        flex: 1;
        margin: 0 3%;
        position: relative;
        &:nth-child(-n+2)::after{
            content:"";
            position: absolute;
            background: url("../image/services/elips-decor.png") no-repeat;
            left: 14rem;
            top: 3.166rem;
            width: 3.722rem;
            height: 1.166rem;
    }
    }
}
