.feature{
    display: flex;
}
.feature__icon{
    width: 35px;
    height: 35px;
    margin-right: 14px;
}
.feature__text{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    max-width: 90px;
}