.features{
    display: flex;
    &__item{
        margin-right: 1.833rem;
        &:last-child{
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 768px) {
    .features{
        display: none;
    }
}