.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fontSize;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    line-height: 1.666rem;
}
.menu__item{
    margin-right: 1.22rem;
    &:last-child{
        margin-right: 0;
    }
}
.number-phone{
    font-style: normal;
    font-weight: 700;
    font-size: 1.22rem;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
    &__icon--elem{
        width: 0.722rem;
        height: 0.778rem;
        margin-right: 0.333rem;
    }
}
@media screen and (max-width: 768px) {
    .header{
        background-color: #1968B1;
        padding: 26px 36px;
    }
    .menu__list{
        display: none;
    }
    .number-phone{
        display: none;
    }
}