@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

button {
  cursor: pointer; }

button,
button:active,
:hover,
:focus {
  outline-offset: 0;
  outline: none !important;
  box-shadow: none; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF; }

.container {
  width: 100%;
  max-width: 970px;
  padding: 0 15px;
  margin: 0 auto; }

.main__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase; }
  .main__title--black {
    color: #292929; }
  .main__title--white {
    color: #FFFFFF; }

.block__caption {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #292929; }

.main__btn {
  width: 156px;
  height: 60px;
  background: #FEDB3F;
  border-radius: 100px;
  border: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase; }
  .main__btn:hover {
    background: #FFD517; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.header__wrap {
  padding: 37px 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.header__item {
  list-style-type: none;
  margin: 0 11px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px; }

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__contacts img {
    margin-right: 6px; }
  .header__contacts .header__phone {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 18px; }

.welcome {
  background: url(../image/welcome/head-bg.jpg) no-repeat center top/cover;
  min-height: 653px; }

.welcome__wrap {
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 583px; }

.welcome__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 64px; }

.welcome__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 17px; }

.welcome__text {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 39px; }

.welcome__footer {
  display: flex;
  align-items: center; }
  .welcome__footer .welcome__item {
    width: 142px;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-right: 33px; }
    .welcome__footer .welcome__item img {
      width: 35px;
      height: 35px;
      margin-right: 14px; }

.dotsbar {
  position: fixed;
  top: 215px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .dotsbar li {
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 15px;
    list-style-type: none; }

.dots-active {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background: transparent;
  padding: 8px;
  margin-bottom: 7px; }
  .dots-active li {
    transform: translate(-50%, -50%); }

.services {
  padding-top: 107px;
  padding-bottom: 114px; }

.services__wrap,
.services__head,
.services__item {
  display: flex;
  flex-direction: column; }

.services__head {
  margin-bottom: 49px; }

.services__title-wrap {
  margin-bottom: 17px; }

.services__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666; }

.services__content {
  display: flex;
  justify-content: space-between; }

.services__item {
  align-items: center;
  width: 32%;
  position: relative; }
  .services__item:nth-child(-n+2)::after {
    content: "";
    position: absolute;
    background: url("/image/services/elips-decor.png") no-repeat;
    width: 67px;
    height: 21px;
    left: 273px;
    top: 57px; }

.wrap__grey {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #F2F5F4;
  margin-bottom: 20px;
  position: relative; }
  .wrap__grey img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.services__caption-wrap {
  margin-bottom: 20px; }

.services__info {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666;
  margin-bottom: 20px; }

.review {
  background-color: #fff;
  padding: 62px 0 63px 0; }

.review__wrap,
.review__content {
  display: flex;
  flex-direction: column; }

.review__title-wrap {
  margin-bottom: 32px; }

.review__box {
  display: flex;
  justify-content: space-between;
  background: #F8FAF9;
  padding: 42px;
  margin-bottom: 15px; }

.review__content {
  align-items: flex-start;
  margin-left: 38px;
  padding-top: 28px;
  padding-bottom: 6px; }

.review__caption-wrap {
  margin-bottom: 14px;
  text-align: left; }

.review__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 25px; }

.review__name-author {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #292929; }

.review__list-author {
  display: flex;
  justify-content: center; }
  .review__list-author li {
    margin: 0 6px; }

.author-active {
  display: block;
  border: 6px solid #FEDB3F;
  border-radius: 50%; }
  .author-active li {
    transform: translate(0, 3%);
    margin: -3px; }

.form__section {
  background: url(../image/form/bg-form.jpeg) no-repeat center top/cover;
  min-height: 652px; }

.wrap__bg {
  background-color: #2b2b2b66;
  min-height: inherit;
  padding: 62px 0 85px 0; }

.form__title-wrap {
  margin-bottom: 59px; }

.form {
  display: flex;
  justify-content: space-between; }

.form__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 27px; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 12px; }

.form__block {
  flex: 1;
  margin-right: 17px; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block--small {
    margin-right: 14px; }
    .form__block--small:last-child {
      margin-right: 0; }
  .form__block--textarea {
    margin-right: 0px;
    margin-bottom: 38px; }

.form__row-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF; }

.form__row-input {
  width: 100%;
  border: 0;
  padding: 18px 12px;
  border: 3px solid transparent; }
  .form__row-input:focus {
    outline: none;
    border-color: #FEDB3F; }
  .form__row-input--textarea {
    height: 155px;
    resize: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 9px;
  margin-bottom: 19px; }
  .radio:last-child {
    margin-right: 0px; }
  .radio--elem {
    display: none; }
    .radio--elem:checked ~ .radio__visible::before {
      display: block; }
  .radio--checkbox .radio__visible {
    border-radius: 4px; }
    .radio--checkbox .radio__visible:before {
      background: url(../image/form/chek.png) center center no-repeat; }

.radio__visible {
  position: relative;
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 10px; }
  .radio__visible:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #FEDB3F;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.form__btns {
  display: flex; }

.form__btn-reset {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 22px; }

/*# sourceMappingURL=main.css.map */
