@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap");
* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

button {
  cursor: pointer; }

button,
button:active,
:hover,
:focus {
  outline-offset: 0;
  outline: none !important;
  box-shadow: none; }

a {
  text-decoration: none;
  color: inherit; }

html,
body {
  height: 100%; }

body {
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  position: relative; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

footer {
  position: relative;
  width: 100%; }

img {
  display: block;
  max-width: 100%; }

.container {
  width: 940px;
  margin: 0 auto; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  list-style-type: none;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; }

.menu__item {
  margin-right: 11px; }
  .menu__item:last-child {
    margin-right: 0; }

.number-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 18px;
  display: flex;
  align-items: center; }
  .number-phone__icon--elem {
    width: 13px;
    height: 13px;
    margin-right: 6px; }

.welcome {
  background: url(../image/welcome/head-bg.jpg) no-repeat center top/cover;
  height: 100vh;
  min-height: 652px; }

.welcome__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 28px 0 66px 0; }

.welcome__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 64px;
  width: 46%; }

.welcome__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 17px; }

.welcome__text {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 39px; }

.button {
  background: #FEDB3F;
  border-radius: 100px;
  border: 0;
  padding: 21px 41px;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  text-transform: uppercase; }
  .button:hover {
    background: #FFD517; }

.features {
  display: flex; }
  .features__item {
    margin-right: 33px; }
    .features__item:last-child {
      margin-right: 0; }

.feature {
  display: flex; }

.feature__icon {
  width: 35px;
  height: 35px;
  margin-right: 14px; }

.feature__text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  max-width: 90px; }

.section {
  height: 100vh;
  min-height: 655px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section--bg {
    background-color: #2b2b2b66; }

.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase; }
  .section__title--black {
    color: #292929; }
  .section__title--white {
    color: #FFFFFF; }

.head-benefit {
  text-align: center;
  margin-bottom: 49px; }

.head-benefit__title {
  margin-bottom: 17px; }

.head-benefit__suptitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666;
  padding: 0 26%; }

.benefits {
  display: flex; }
  .benefits__item {
    flex: 1;
    margin: 0 3%;
    position: relative; }
    .benefits__item:nth-child(-n+2)::after {
      content: "";
      position: absolute;
      background: url("../image/services/elips-decor.png") no-repeat;
      left: 252px;
      top: 57px;
      width: 67px;
      height: 21px; }

.benefit {
  text-align: center; }
  .benefit__image {
    margin-bottom: 20px; }

.benefit__image-wrap {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background: #F2F5F4;
  overflow: hidden;
  position: relative; }
  .benefit__image-wrap .benefit__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 68px; }

.benefit__title {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #292929;
  margin-bottom: 23px; }

.benefit__info {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #666666; }

.reviews__display {
  display: flex;
  justify-content: space-between;
  background: #F8FAF9;
  padding: 42px 150px 42px 42px;
  margin-bottom: 15px; }

.reviews__display-inner {
  display: flex; }

.reviews__avatar {
  width: 253px;
  height: 264px; }

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.reviews__content {
  flex: 1;
  margin-left: 38px;
  padding-top: 28px;
  padding-bottom: 6px; }

.reviews__title {
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #292929;
  margin-bottom: 14px; }

.reviews__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 25px; }

.reviews__name-author {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #292929; }

.reviews__switcher {
  display: flex;
  justify-content: center; }

.head-review {
  margin-bottom: 32px; }

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .interactive-avatar--active {
    border-color: #FEDB3F; }

.interactive-avatar-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.interactive-avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.head-form {
  margin-bottom: 59px; }

.order-section {
  background: url(../image/form/bg-form.jpeg) no-repeat center top/cover; }

.form {
  display: flex; }

.form__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 27px; }
  .form__col:last-child {
    margin-right: 0; }

.form__row {
  display: flex;
  margin-bottom: 12px; }

.form__block {
  flex: 1;
  margin-right: 17px; }
  .form__block:last-child {
    margin-right: 0; }
  .form__block--small {
    margin-right: 14px; }
    .form__block--small:last-child {
      margin-right: 0; }
  .form__block--textarea {
    margin-right: 0px;
    margin-bottom: 38px; }

.form__row-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF; }

.form__row-input {
  width: 100%;
  border: 0;
  padding: 18px 12px;
  border: 3px solid transparent; }
  .form__row-input:focus {
    outline: none;
    border-color: #FEDB3F; }
  .form__row-input--textarea {
    height: 155px;
    resize: none; }

.form__controls {
  display: flex;
  flex-wrap: wrap; }

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 9px;
  margin-bottom: 19px; }
  .radio:last-child {
    margin-right: 0px; }
  .radio__elem {
    position: absolute;
    left: -9999px; }
    .radio__elem:checked ~ .radio__visible::before {
      display: block; }
  .radio--checkbox .radio__visible {
    border-radius: 4px; }
    .radio--checkbox .radio__visible:before {
      background: url(../image/form/chek.png) center center no-repeat; }

.radio__visible {
  position: relative;
  width: 25px;
  height: 25px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-right: 10px; }
  .radio__visible:before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #FEDB3F;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; }

.form__btns {
  display: flex; }

.button-reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 22px; }

.dots-bar {
  position: fixed;
  top: 35%;
  right: 3%;
  z-index: 100; }

.dots-bar__item {
  list-style-type: none;
  margin-bottom: 5px; }
  .dots-bar__item--active .dots-bar__link {
    border-color: #FFFFFF; }

.dots-bar__link {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative; }
  .dots-bar__link::before {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
