.products {
    background-color:#F8FAF9;
    padding-right: 108px;
    padding-left: 143px;
    @include phones{
        padding: 0;
    }
    &__wrap-list{
        overflow: hidden;
    }
    &__arrows{
        position: relative;
        height: 100%;
    }
    &__arrow{
        // top: 50%;
        // transform: translate(-50%, -50%);
        &--prev{
            position: absolute;
            left: 0;
        }
        &--next{
            position: absolute;
            right: 0;
        }
    }
    &__list{
        display: flex;
    }
    &__item{
        display: flex;
        flex: 0 0 100%;
        @include tablets{
            flex-direction: column;
        }
    }
    &__preview{
        width: 100%;
        max-width: 397px;
    }
    &__info{
        margin-left: 81px;
        flex: 1;
        @include tablets{
            margin-left: 0;
            text-align: center;
        }
    }
    &__setting{
        width: 91px;
        height: 91px;
        background: #3A587E;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 52px;
        @include tablets{
            display: none;
        }
    }
    &__setting-icon{
        width: 38px;
        height: 38px;
        margin-bottom: 7px;
    }
    &__setting-text{
        font-weight: 700;
        font-size: 14.0121px;
        line-height: 17px;
        color: $white;
        text-transform: uppercase;
    }
    &__title{
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-transform: uppercase;
        color: #292929;
        margin-bottom: 24px;
    }
    &__desc{
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #666666;
        margin-bottom: 24px;
    }
    &__weight{
        display: flex;
        margin-bottom: 24px;
        @include tablets{
            justify-content: center;
        }
        &-item{
            display: flex;
            flex-direction: column;
            &:not(:first-child){
                margin-left: 55px;
            }
        }
        &-title{
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #666666;
        }
        &-length{
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
        }
    }
    &__footer{
        display: flex;
        align-items: flex-end;
        @include tablets{
            justify-content: center;
        }
    }
    &__price{
        font-weight: 300;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        color: #151515;
        margin-right: 30px;
    }
}
