.review {
    background-color: #fff;
    padding: 62px 0 63px 0;
}

.review__wrap,
.review__content {
    display: flex;
    flex-direction: column;
}
.review__title-wrap {
    margin-bottom: 32px;
}
.review__box {
    display: flex;
    justify-content: space-between;
    background: #F8FAF9;
    padding: 42px;
    margin-bottom: 15px;
}
.review__content {
    align-items: flex-start;
    margin-left: 38px;
    padding-top: 28px;
    padding-bottom: 6px;
}
.review__caption-wrap {
    margin-bottom: 14px;
    text-align: left;
}
.review__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 25px;
}
.review__name-author {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #292929;
}

.review__list-author {
    display: flex;
    justify-content: center;
    li{
        margin: 0 6px;
    }
}
.author-active{
    display: block;
    border: 6px solid $yellow;
    border-radius: 50%;
    li{
        transform: translate(0, 3%);
        margin: -3px;
    }
}

