.section{
    height: 100vh;
    min-height: 655px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    &--black{
        color: #292929;
    }
    &--white{
        color: $white;
    }    
}