
.welcome{
    background: url(../image/welcome/head-bg.jpg) no-repeat center top / cover;
    height: 100vh;
    min-height: 652px;
}
.welcome__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 28px 0 66px 0;
}
.welcome__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;
    width: 46%;
}
.welcome__title{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    margin-bottom: 17px;
}
.welcome__text{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 39px;
}






.dotsbar{
    position: fixed;
    top: 215px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    li{
        width: 9px;
        height: 9px;
        background-color: $white;
        border-radius: 50%;
        margin-bottom: 15px;
        list-style-type: none ;
    }
}
.dots-active{
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid $white;
    background: transparent;
    padding: 8px;
    margin-bottom: 7px;
    li{
        transform: translate(-50%, -50%);
    }
}   