
.benefits{
    display: flex;
    @include phones {
        flex-direction: column;
    }
    &__item{
        flex: 1;
        margin: 0 3%;
        position: relative;
        @include phones {
            padding: 0;
            margin-bottom: 1.111rem;
        }
        &:nth-child(-n+2)::after{
            content:"";
            position: absolute;
            background: url("../image/services/elips-decor.png") no-repeat;
            left: 14rem;
            top: 3.166rem;
            width: 3.722rem;
            height: 1.166rem;
            @include tablets{
                display: none;
            }
    }
    }
}

@media screen and (max-width:992px){
    .benefits__item{
            &:nth-child(-n+2)::after{
                display: none;
    }
}
}
