.button-reset {
    font-weight: 400;
    font-size: $fontSize;
    line-height: 1.222rem;
    color: $white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 1.222rem;
}