.fullscreen-menu{
    position: fixed;
    top:0;
    left:100%;
    width: 100%;
    height: 100%;
    background-color: #313131;
    display: flex;
    justify-content: center;
    padding-top: 7.5rem;
    transition: .5s;
    &__close{
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 2.333rem;
        right: 2.333rem;
    }
    &__icon{
        fill: $white;
        width: 1.111rem;
        height: 1.111rem;
    }
    &.open{
        left:0;
    }
}