.head-benefit{
    text-align: center;
    margin-bottom: 2.722rem;
}
.head-benefit__title{
    margin-bottom: 0.944rem;
}
.head-benefit__suptitle {
    font-style: normal;
    font-weight: 400;
    font-size: $fontSize;
    line-height: 1.222rem;
    text-align: center;
    color: #666666;
    padding: 0 26%;
    @include phones {
        padding: 0;
    }
}