.number-phone{
    font-style: normal;
    font-weight: 700;
    font-size: 1.22rem;
    line-height: 1.125rem;
    display: flex;
    align-items: center;
    padding-top: 0.277rem;
    &__text{
        white-space: nowrap;
    }
    &__text--black{
        color: #292929;
    }
    &__icon--elem{
        width: 0.722rem;
        height: 0.778rem;
        margin-right: 0.333rem;
        flex-shrink: 0;
        &--white{
            fill: $white;   
        }
        
    }
    @include tablets{
        display: none;
    }
    &--foot{
    @include tablets{
    display: inline-block;
    }
    @include phones {
        margin-bottom: 1.125rem;
    }
    }
}

// @media screen and (max-width: 768px) {

//     .number-phone{
//         display: none;
//         &--foot{
//             display: inline-block;
//         }
//     }
// }